.wootow-bg {
    --background: rgba(248, 236, 50, 1) !important
}

.bg-default {
    background-color: rgb(243, 243, 243) !important
}

.pin-yellow {
    color: #F8EC32 !important;
}

.pin-blue {
    color: rgb(41, 69, 163) !important
}