// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
.wootow-bg {
    --background: #F8EC32 !important
}

ion-item>* {
    color: #636363 !important
}

.transparent-chip {
    --background: transparent !important
}

.edit>.mat-form-field-appearance-fill .mat-form-field-flex {
    background: rgba(255, 255, 255, 0.6) !important;
}