<ion-header>
    <ion-toolbar class="wootow-bg">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row align="center">
            <ion-col align-self="center" size="12">
                <ion-card>
                    <form #formWeb="ngForm" ngNativeValidate (ngSubmit)="Webphoto(formWeb);">
                        <ion-card-header>
                            <img *ngIf="!imagePreview" class="w-50 offset-3" [src]="auth.Customer.picture | noImage:'./assets/images/picture.png'">
                            <img *ngIf="imagePreview && imagePreview !== ''" class="w-50 offset-3" [src]="imagePreview">
                            <ion-fab vertical="top" horizontal="end">
                                <ion-fab-button (click)="GalleryControllerFunction();" class="wootow-btn">
                                    <ion-icon class="text-default" name="camera"></ion-icon>
                                </ion-fab-button>
                            </ion-fab>
                            <ion-button *ngIf="auth.GivePlatformInfo() === 'web' && imagePreview" type="submit" expand="full" class="wootow-btn text-dark">
                                Confirm
                            </ion-button>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-row>
                                <ion-col>
                                    <p>
                                        <mat-hint class="text-default">
                                            {{auth.Customer.name}} <br> {{auth.Customer.phone}} <br> {{auth.Customer.email}}
                                        </mat-hint>
                                    </p>
                                </ion-col>
                                <ion-col>
                                    <ion-button (click)="OpenProfile();" class="wootow-btn text-dark" expand="full" shape="round">
                                        Update account info
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-card-content>
                        <fieldset class="hide">
                            <input [(ngModel)]="imagePreview" type="hidden" name="photo">
                            <input style="display: none;" (change)="WebsitePhotos($event.target.files);" id="photoWeb" ngModel type="file" name="webphoto">
                        </fieldset>
                    </form>
                </ion-card>
                <ion-card>
                    <mat-spinner class="text-center offset-4" *ngIf="isLoading"></mat-spinner>
                    <ion-card-header *ngIf="NotItems">
                        <ion-card-title style="font-size: 14px !important;">
                            <mat-hint>
                                You do not have registered vehicles
                            </mat-hint>
                            <ion-button (click)="OpenVehiclePage(null, 'create');" class="wootow-btn text-default" expand="full" shape="round">
                                Load your first vehicle
                            </ion-button>
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-header>
                        <ion-title>
                            Vehicles added
                        </ion-title>
                    </ion-card-header>
                    <ion-card-content *ngIf="ArrayCars.length >= 1">
                        <ion-fab vertical="top" horizontal="end">
                            <ion-fab-button (click)="OpenVehiclePage(null, 'create');" class="wootow-btn">
                                <ion-icon class="text-dark" name="add"></ion-icon>
                            </ion-fab-button>
                        </ion-fab>
                        <ion-slides pager="true" scrollbar="true">
                            <ion-slide *ngFor="let car of ArrayCars; let i = index">
                                <ion-card no-border>
                                    <ion-card-header>
                                        <img [alt]="car.car_model.car_name" [src]="car.car_image">
                                    </ion-card-header>
                                    <ion-card-content padding>
                                        <ion-list lines="none">
                                            <ion-item>
                                                <ion-label class="offset-1 text-center">
                                                    {{car.car_model.car_name}} <br> {{car.car_model.car_plate}} <br> {{car.car_model.car_colour}}
                                                </ion-label>
                                            </ion-item>
                                        </ion-list>
                                    </ion-card-content>
                                    <ion-footer>
                                        <ion-toolbar no-border>
                                            <ion-row align="center">
                                                <ion-col>
                                                    <ion-button (click)="OpenVehiclePage(car, 'update', true);" class="wootow-btn" expand="full" shape="fill">
                                                        <ion-icon class="text-default" name="create"></ion-icon>
                                                    </ion-button>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-button (click)="DisplayAlertOptions(i, car);" class="btn-delete" color="warning" expand="full" shape="fill">
                                                        <ion-icon class="text-dark" name="trash"></ion-icon>
                                                    </ion-button>
                                                </ion-col>
                                            </ion-row>
                                        </ion-toolbar>
                                    </ion-footer>
                                </ion-card>
                            </ion-slide>
                        </ion-slides>
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title class="text-default" style="font-size: 18px">
                            Favorites
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content padding>
                        <ion-list lines="none" class="text-center offset-1 item-list-dir">
                            <ion-item>
                                <mat-icon class="material-icons">visibility</mat-icon>
                                <ion-label>
                                    <mat-hint>
                                        Dirección en particular
                                    </mat-hint>
                                </ion-label>
                            </ion-item>
                            <ion-item>
                                <mat-icon class="material-icons">visibility</mat-icon>
                                <ion-label>
                                    <mat-hint>
                                        Dirección Laboral
                                    </mat-hint>
                                </ion-label>
                            </ion-item>
                        </ion-list>
                        <ion-list lines="none" class="text-left item-list-dir2">
                            <ion-item>
                                <mat-icon class="material-icons">add</mat-icon>
                                <ion-label>
                                    <mat-hint>
                                        Más ubicaciones
                                    </mat-hint>
                                </ion-label>
                            </ion-item>
                        </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>