.r-50 {
    border-radius: 50%
}

.text-default {
    color: #636363 !important;
}

.btn-delete {
    --background: #fd783a !important;
}

.item-list-dir>* {
    font-size: 12px !important;
    color: #636363 !important;
    margin-left: 1em
}

.item-list-dir2>* {
    font-size: 14px !important;
    color: #636363 !important;
}