<ion-content scrollY="false">
    <mgl-map (load)="Map = $event;" *ngIf="RenderMap" [style]="'mapbox://styles/ingcarlose/cjx26bahhjpzy1cls7s5d3pnf'" [zoom]="[14]" [center]="[CurrentPosition.longitude, CurrentPosition.latitude]">
        <!-- Marcador de Origen de la ruta -->
        <mgl-marker *ngIf="IsRoutePicked" [lngLat]="Origin" [draggable]="false">
            <mgl-popup (click)="UpdateRouting();" [lngLat]="Origin" [closeButton]="false" [closeOnClick]="false" [offset]="35">
                {{PlaceOriginAllData.place_name}}
            </mgl-popup>
            <ion-fab-button color="dark" size="small">
                <mat-icon class="material-icons text-white">directions_car</mat-icon>
            </ion-fab-button>
        </mgl-marker>
        <!-- Final marcador de Origen -->
        <!-- Ruta marcada  -->
        <!--<mgl-layer [layout]="{'line-join': 'round', 'line-cap': 'round'}" [paint]="{'line-color': '#78849E', 'line-width': 2}" id="routing" *ngIf="IsRoutePicked" type="line" [source]="this.Layer"></mgl-layer>-->
        <!-- Final de la ruta -->
        <!-- Menu -->
        <mgl-control position="top-left">
            <ion-fab>
                <ion-fab-button color="default">
                    <ion-menu-button style="z-index: 1000"></ion-menu-button>
                </ion-fab-button>
            </ion-fab>
        </mgl-control>
        <!-- Menu -->
        <!-- Formulario de busqueda -->
        <mgl-control *ngIf="!geolocation.FirebaseMapLoader" position="top-right">
            <div class="space-80"></div>
            <form style="position: relative; left: -5em !important" class="text-center">
                <div class="form-group edit">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label *ngIf="!IsRoutePicked" class="font-16">¿A donde querías llegar?</mat-label>
                        <mat-label *ngIf="IsRoutePicked" class="font-16">I want to change my route</mat-label>
                        <input (focus)="DisplaySearchPopup();" matInput>
                        <mat-icon matSuffix>near_me</mat-icon>
                    </mat-form-field>
                </div>
            </form>
        </mgl-control>
        <!-- Fin del formulario -->
        <!-- Buscarnos mediante el gps -->
        <mgl-control position="bottom-right">
            <ion-fab (click)="SearchMylocatioN();" vertical="bottom" horizontal="center">
                <ion-fab-button style="margin-left: -2em" color="light">
                    <mat-icon class="material-icons text-dark">gps_fixed</mat-icon>
                </ion-fab-button>
            </ion-fab>
        </mgl-control>
        <!-- Fin bloque de busqueda GPS -->
        <!-- Marcador de Destino de la ruta -->
        <mgl-marker *ngIf="IsRoutePicked" [lngLat]="Destiny" [draggable]="false">
            <mgl-popup (click)="UpdateRouting();" [lngLat]="Destiny" [closeButton]="false" [closeOnClick]="false" [offset]="35">
                {{ PlaceDestinyAllData.place_name }}
            </mgl-popup>
            <ion-fab-button class="wootow-btn" size="small">
                <!--<mat-icon class="material-icons text-dark">near_me</mat-icon>-->
                <img src="./assets/images/tow-destiny.png" alt="Wootow">
            </ion-fab-button>
        </mgl-marker>
        <!-- Final del marcador -->
        <!-- Tiempo aprox -->
        <mgl-control *ngIf="IsRoutePicked" position="bottom-left">
            <mat-card [ngClass]="{'duration-popup': DurationPX}">
                <mat-card-header>
                    <mat-hint class="font-bold font-14 text-left">
                        Tiempo aprox: {{Duration}} min
                    </mat-hint>
                </mat-card-header>
            </mat-card>
        </mgl-control>
        <!-- Fin tiempo aprox -->
        <!-- Payment Popup -->
        <mgl-control *ngIf="IsRoutePicked && !geolocation.FirebaseMapLoader" position="bottom-left">
            <ion-fab vertical="bottom" horizontal="center">
                <ion-fab-button style="margin-left: 2em" (click)="DisplayPaymentPopup(Duration, geolocation.Route.routes[0].distance);" class="wootow-btn">
                    <mat-icon class="material-icons text-dark">touch_app</mat-icon>
                </ion-fab-button>
            </ion-fab>
        </mgl-control>
        <!-- end Payment Popup -->
    </mgl-map>
</ion-content>